.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 7rem;
    margin-right: 3rem;
    border-style: groove;
    border-radius: 7px;
    position: relative;
}

.card img {
    margin: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
}