.navigation {
    padding: 2rem 0;
}

.navigation .navigation-list .navigation-item .navigation-link {
    display: block;
}

@media screen and (min-width: 1024px) {
    .navigation .navigation-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }

    .navigation .navigation-list .navigation-item {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Animasyon adını, animasyonun ne kadar süreceğini, animasyonun başlamasını ne kadar geciktireceğimi tanımladım */
.animate {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 0.5s;
}

/* Bu animasyon öğenin yukarıdan aşağıya doğru kayarak ve opaklık değerinin sıfırdan bir'e yükselerek görünmesini sağlayacak */
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}