* {
    outline: none;
    box-sizing: border-box;
}

html,
body,
ul {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

ul {
    list-style-type: none;
}

button {
    border: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}